<div class="container">

  <div class="row">

    <div  id="dog-container" class="col-sm-8">
      <h1>List of pets</h1>
      <%# -------START----CARDS------ %>
      <%# <div class="cards"> %>
      <div class="d-flex flex-row flex-wrap">
        <% @pets.each do |pet| %>
          <div class="card m-2" style="width: 200px;" ><%# ------size--CARDS--------- %>
            <%= image_tag pet.image, class: "card-img-top", style: "width: auto; height:auto; object-fit: cover; border-radius: 3%;" %>
            <div class="card-body">
              <h5 class="card-title"><%= pet.name %></h5>
              <p class="card-text" style="font-size: x-small;"><%= pet.description %></p>
              <%= link_to "Book >", pet, class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>

      </div>
    </div>

    <%# ------END--CARDS--------- %>

    <%# -------MAP-------- %>
    <div id="map" class="col-sm-4 position-sticky sticky-top">
      <div style="width: auto; height: 100vh;"

        data-controller="map"

        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <%# -------END---MAP-------- %>
  </div>
</div>
  <%# -------main container DIV-------- %>
