<div class="container mt-5">

  <h1><%= @pet.name %></h1>

  <div class="d-flex flex-row flex-wrap w-75">
    <div class="card m-10" style="width: 18rem;" >
      <%= image_tag @pet.image, class: "card-img-top", style: "width: 280px;" %>
      <div class="card-body">
        <p class="card-text"><%= @pet.description %></p>
      </div>
    </div>
  </div>

  <% if current_user == @pet.user %>
    <%= link_to "Delete", pet_path(@pet), class: "btn btn-outline-dark", "data-turbo-method" => :delete %>
  <% end %>

  <div class="mt-2">
    <%= link_to "Return to the list", pets_path %>
  </div>

</div>
