<div class="container d-flex flex-column">
  <h1 class="my-3">Meet <%= @pet.name %></h1>
  <div class="col-8 d-flex align-self-center">
    <div class="col-6 mx-5">
      <%= image_tag @pet.image, class: "rounded align-self-center card-img-top", style: "width: 280px;" %>
      <div class="card-body">
        <p class="card-text my-4"><%= @pet.description %></p>
      </div>
    </div>

    <div class="col-6" data-controller="pets">
      <%= render "shared/form", booking: @booking %>
      <% if current_user == @pet.user %>
        <%= link_to "Delete", pet_path(@pet), class: "btn btn-outline-dark my-5", "data-turbo-method" => :delete %>
      <% end %>
      <%= link_to "Return to pets", pets_path, class: "btn btn-outline-dark my-4" %>
    </div>
  </div>
</div>
