
<div class="container">
  <h1>Bookings List</h1>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Booking Note</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.start_date.day%>/<%= booking.start_date.month%>/<%= booking.start_date.year%></td>
          <td><%= booking.end_date.day%>/<%= booking.end_date.month%>/<%= booking.end_date.year%></td>
          <td><%= booking.booking_note %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Back to homepage", root_path %>
</div>
