<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Perfect fur hire", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarNav">
      <%# <div class="collapse" id="navbarNav"> %>
        <ul class="navbar-nav me-auto">
        
          <!-- user_signed_in? returns true only if there is a user currently logged in -->
          <!-- this is a helper provided by devise -->

          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Add a pet", new_pet_path, class: "nav-link" %>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item active d-flex">
              <%= link_to "About Us", about_path, class: "nav-link btn btn-outline-home" %>   <!-- Adding the new "home" button -->
              <%= link_to "Signup", new_user_registration_path, class: "nav-link btn btn-outline-success" %>
              <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-outline-success" %>
            </li>
          <% end %>
        </ul>
        
      </div>
    </nav>




