<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Perfect fur hire", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="nav justify-content-end">
      <!-- user_signed_in? returns true only if there is a user currently logged in -->
      <!-- this is a helper provided by devise -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Add a pet", new_pet_path, class: "nav-link link-light" %>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link link-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", bookings_path, class: "nav-link link-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Pets", pets_path(user_id: current_user), class: "nav-link link-light" %>
          </li>
        <% else %>
          <li class="nav-item active d-flex">
            <%= link_to "About Us", about_path, class: "nav-link btn btn-outline-home" %>   <!-- Adding the new "home" button -->
            <%= link_to "Signup", new_user_registration_path, class: "nav-link btn btn-outline-success" %>
            <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-outline-success" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
