
<div class="container text-center home-page">

    <br>
    <br>
    <br>
    <br>
    <br>
      <h1>Perfect fur hire</h1>
    <br>
    <br>
    <br>
     <%# <a class="btn btn-ghost" href="#">View all pets</a> %>
    <%= link_to "View all pets", pets_path, class: "btn btn-ghost" %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Welcome to the perfect fur rental life</h4>

</div>
<video autoplay loop muted  class= "w-100">
    <source src="<%= asset_path 'yusuf.mp4' %>" type="video/mp4">
    Your browser does not support the video tag.
</video>

<audio controls autoplay style="float:right; margin: 1rem;">
  <source src="<%= asset_path("jane.mp3") %>" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div class="top-image">
  <div class="call-to-action-image-container">
    <%= image_tag("top.png", {:style => "width:100%" }) %>

    <h2 class="brand-name">Perfect fur Hire</h2>

    <div class="img-overlay">
      <%= link_to "View all dogs", pets_path, class: "btn btn-md btn-warning" %>
    </div>

  </div>
</div>

<%# newuser = User.create( email: "ai@miyuki.ai", password: "password123", password_confirmation: "password123" ) %>
