<!DOCTYPE html>
<html>
  <head>
    <title>PerfectFurHire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  

  </head>

  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Perfect fur hire", pets_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- user_signed_in? returns true only if there is a user currently logged in -->
          <!-- this is a helper provided by devise -->
          
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Add a pet", new_pet_path, class: "nav-link" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>


 